<img src="../assets/images/piedra-papel-tijera-lagarto-spock.png" alt="imagen" class="imagen-explicacion">
<div class="juego">
  <div class="botones-juegos" class="{{botonesJuego}}">
    <button type="button" class="btn btn-secondary" (click)="rondas(0)">3 Partidas</button>
    <button type="button" class="btn btn-secondary" (click)="rondas(1)">5 Partidas</button>
    <button type="button" class="btn btn-secondary" (click)="rondas(2)">7 Partidas</button>
  </div>
  <div class="contenido">
    <h3>CPU</h3>
    <div class="cpu-container">
      <div>
        <button type="button" class="{{botonesCPU[0]}}">Piedra</button>
        <button type="button" class="{{botonesCPU[1]}}">Papel</button>
        <button type="button" class="{{botonesCPU[2]}}">Tijera</button>
        <button type="button" class="{{botonesCPU[3]}}">Lagarto</button>
        <button type="button" class="{{botonesCPU[4]}}">Spock</button>
      </div>
    </div>
    <h3 class="ronda">{{ronda}}</h3>
  </div>
  <div class="CPU-show">
    <h3>Puntos CPU: {{puntosCPU}}</h3>
      <div class="CPUProgreso" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-success" [ngStyle]="{'width': CPUBarra + '%'}"></div>
      </div>
    <h3>{{textoCPU}}</h3>
    <div class="{{imagenVanish}}">
      <img src='{{ "assets/images/" + imagenCPU + ".jpg" }}' >
    </div>
  </div>
  <div class="jugador-show">
    <h3>Puntos Jugador: {{puntosJugador}}</h3>
      <div class="jugadorProgreso" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-success" [ngStyle]="{'width': jugadorBarra + '%'}"></div>
      </div>
    <h3>{{textoJugador}}</h3>
    <div class="{{imagenVanish}}">
      <img src='{{ "assets/images/" + imagenJugador + ".jpg" }}'>
    </div>
  </div>
  <div class="texto">
  </div>
  <div class="jugador-container">
    <h3>JUGADOR</h3>
    <div>
      <button type="button" class="btn btn-primary" class="{{botonesJugador[0]}}" (click) = Juego(0)>Piedra</button>
      <button type="button" class="btn btn-primary" class="{{botonesJugador[1]}}" (click) = Juego(1)>Papel</button>
      <button type="button" class="btn btn-primary" class="{{botonesJugador[2]}}" (click) = Juego(2)>Tijera</button>
      <button type="button" class="btn btn-primary" class="{{botonesJugador[3]}}" (click) = Juego(3)>Lagarto</button>
      <button type="button" class="btn btn-primary" class="{{botonesJugador[4]}}" (click) = Juego(4)>Spock</button>
    </div>
  </div>
  <div class="botones-importantes" class="{{botonesImportantes}}">
    <button type="button" class="btn btn-primary" class="{{botonEmpezar}}"(click)="empezar()">Empezar partida</button>
    <button type="button" class="btn btn-danger" class="{{botonReset}}"(click)="reset()">Resetear partida</button>
  </div>
</div>